-r requirements.txt
https://download.lfd.uci.edu/pythonlibs/q4trcu4l/sounddevice-0.4.1-cp38-cp38-win_amd64.whl
https://download.lfd.uci.edu/pythonlibs/q4trcu4l/sounddevice-0.4.1-cp38-cp38-win_amd64.whl